.input:focus{
    outline: none;
    border: lightgreen solid 2px;
}

.superInput {
    border: 2px solid blue;
    background: darkgrey;
    margin: 10px;
}

.errorInput {
    border: 2px solid red;
    background: darkgrey;
    margin: 10px;
}

.error {
    font-style: italic;
    color: red;

}

.column {

}
